Package: com.phapsu.gameoptimizer
Name: GameOptimizer Menu
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Mod Menu Toi Uu Hieu Nang Game Toan Dien
Maintainer: Phap Su 12 Pro Max
Author: Phap Su 12 Pro Max
Section: Tweaks
