Package: com.catyeco.universaloptimizer
Name: Universal Optimizer
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Mod Menu Toi Uu Hieu Nang Game Toan Dien
Maintainer: cat yeco
Author: cat yeco
Section: Tweaks
